# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Tianjie.Deng\Dropbox\PROF PREP\DCB Facebook\Facebook Data Analysis\MISQCase\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
